{% extends "base.html" %}
{% block content %}
<div class="container" style="width: auto; border-radius: 6px;">
  <form class="form-features" method="post" action='/datasets/{{dataset}}/preprocessed_anonymize/'>
    <h2 style="text-align: center; padding-top: 15px;"><b>Anonymize Students IDs/Names</b></h2>    
    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">    
    <div class="col" style="display: flex; justify-content: center; align-items: center;">      
      <h4 style="text-align: center;"><b>New event log name: (extension of  {{dataset}}_):&nbsp;</b></h4>
      <input type="text" name="newdataset"><br>
    </div>
    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
    <div class="row marketing">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" style="text-align: center;">        
        <div class="col-lg-4"></div>
        <div>
          <h5><b>ID/name student attribute:</b></h5>
          <select name='anonymize_names'>            
            {% for col in columns %}
            <option value="{{col}}">{{col}}</option>       
            {% endfor %}
          </select>
        </div>        
      </div>
      <div class="col-lg-4"></div>
    </div>
    </br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 220px; height: 50px; margin: 0 auto;">Create New Log</button>    
  </form>
</div>
{% endblock %}