{% extends "base.html" %}
{% block content %}
<div class="container" style="width: auto; border-radius: 6px;">
  <form class="form-features" method="post" action='/datasets/{{dataset}}/preprocessed_dataset/'>
    <h2 style="text-align: center; padding-top: 15px;"><b>Data Cleaning & Segmentation</b></h2>
    <h4 class="form-features-heading" style="text-align: center;">Preprocessing options (select not required)</h4>
    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
    
    <div class="col" style="display: flex; justify-content: center; align-items: center;">      
      <h4 style="text-align: center;"><b>New event log name: (extension of  {{dataset}}_):&nbsp;</b></h4>
      <input type="text" name="newdataset"><br>
    </div>
    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
    <h3 style="text-align: center;">Data preparation</h3>
    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">

    <div class="row marketing">
      <div class="col-lg-3"></div>
      <div class="col-lg-3" style="text-align: center;">
        <div>
          <h4><b>Anonymize names:</b></h4>                     
          <input type="radio" id="radio_anonymize_no" name="radio_anonymize" value="radio_sort_yes" checked>
          <label for="radio_anonymize_keep">No (keep)</label><br>
          <input type="radio" id="radio_anonymize_yes" name="radio_anonymize" value="radio_anonymize_yes">
          <label for="radio_anonymize_ok">Yes</label>
        </div>
        <div>
          <h5><b>ID/name student attribute:</b></h5>
          <select name='anonymize_names'>            
            {% for col in columns %}
            <option value="{{col}}">{{col}}</option>       
            {% endfor %}
          </select>
        </div>        
      </div>      

      <div class="col-lg-3" style="text-align: center;">
        <h4><b>Sort reverse order:</b></h4>                     
        <input type="radio" id="radio_sort_no" name="radio_sort" value="radio_sort_no" checked>
        <label for="radio_delete">No (keep)</label><br>
        <input type="radio" id="radio_sort_yes" name="radio_sort" value="radio_sort_yes">
        <label for="radio_keep">Yes</label>
      </div>
      <div class="col-lg-3"></div>     
    </div>

    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
    <h3 style="text-align: center;">Selection the elements</h3>
    <h4 style="text-align: center;">Press Ctrl to select multiple elements!</h4>
    <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
    
    <div class="row marketing">
      <div class="col-lg-4"></div>
      <div class="col-lg-4" style="text-align: center;">
        <h4><b>Choose a select mode:</b></h4>                     
        <input type="radio" id="radio_delete" name="radio_preprocessing" value="radio_delete" checked>
        <label for="radio_delete">Delete elements</label><br>
        <input type="radio" id="radio_keep" name="radio_preprocessing" value="radio_keep">
        <label for="radio_keep">Keep elements</label>
      </div>
      <div class="col-lg-4"></div>
    </div>

    
      <div class="row">        
        
        <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
        <h4 style="text-align: center;"><b>Attribute(s) selection (keep/delete columns!):</b></h4>
        <div class="col" style="display: flex; justify-content: center; align-items: center;">
          <select multiple name="manualfeatures">
            {% for col in columns %}
            <option value="{{col}}">{{col}}</option>       
            {% endfor %}
          </select>
        </div>      
        <hr style="height: 2px; border:none; color:#DCDCDC; background-color:#DCDCDC;">
        <h4 style="text-align: center;"><b>Value(s) attribute(s) selection (keep/delete rows!):</b></h4>
        <h5 style="text-align: center;">It will delete all rows where each value is!</h5>
        <br>
        
        
        <div class="col">
          {% for col in columns %}
            <h4 style="text-align: center;">{{col}}</h4>
            
            {% set data = [] %}
            {% for i, j in df_prep[col].items() %}
              <p style="display: none;">{{data.append(j)}}</p>
              {% set aux = j %}
            {% endfor %}            
            
            {% set slots = [] %}
            {% for slot in data if slot not in slots %}
            <p style="display: none;">{{slots.append(slot)}}</p>
            {% endfor %}
            
            {% if slots|length > 10 %}
              <div class="col" style="display: flex; justify-content: center; align-items: center;">
                <select multiple name="manual_rows" id="elements" size="10">
                  {% for el_name in slots %}                
                    <option value="{{el_name}}">{{el_name}}</option>
                  {% endfor %}
                </select>
              </div>              
            {% else %}
              <div class="col" style="display: flex; justify-content: center; align-items: center;">
                <select multiple name="manual_rows" id="elements" size="{{slots|length}}">
                  {% for el_name in slots %}                
                    <option value="{{el_name}}">{{el_name}}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}
            
            <br>            
          {% endfor %}
        </div>      
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create New Dataset</button>
  </form> 
</div>
{% endblock %}